<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zjdt.dtsjwb">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 请求访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme">
        <activity android:name=".Activity.BaseActivity" />
        <activity
            android:name=".Activity.MenuActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HistoryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activity.ImageCarouselActivity" />
        <activity
            android:name=".Activity.FixDeviceActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.FixHistoryTestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.MyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.UpdateActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service android:name=".Service.NotificationService" />
        <service android:name=".Service.NotificationService$ServiceD" />

        <activity
            android:name=".Activity.WebviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Activity.MallActivity" />

        <!-- tbs 自带的播放器组件 -->
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CAssetsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Activity.CAssetsRActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Activity.CCountdownActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Activity.CCallActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Activity.NotifyActivity"
            android:label="@string/title_activity_notify" />
        <activity android:name=".Activity.UpsFixActivity"></activity>
    </application>

</manifest>